---
recentPosts:
  - title: Curling irons are as individual as the women
    image: /assets/img/recent1.jpg
    published_at: 2021-05-20T18:06:32.803Z
  - title: Curling irons are as individual as the women
    image: /assets/img/recent1.jpg
    published_at: 2021-05-15T18:06:32.803Z
  - title: Curling irons are as individual as the women
    image: /assets/img/recent1.jpg
    published_at: 2021-05-10T18:06:32.803Z
---
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>

        <!-- Required CSS files -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Required Core stylesheet -->
    <!-- <link rel="stylesheet" href="{{ 'assets/css/glide.core.min.css' | url }}"> -->

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | url }}?v={% version %}">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>
    <div class="preloader">
        <span class="preloader-spin"></span>
    </div>
    <div>
        {% render 'partials/main-nav' navLinks: navigation.items %}   
        
        {{ content }}
        
        {% render 'partials/footer', recentPosts: recentPosts %}
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpine-collective/alpine-magic-helpers@1.2.x/dist/component.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>

    <script>
        if(document.getElementById('hero-slide')) {
            console.log('Hero slide found');
            new Glide('#hero-slide', {
                perView: 1,
                gap: 0,
                type: 'carousel',
            }).mount()
        }
        if(document.querySelector('.glide')) {
            new Glide('.glide', {
                perView: 3,
                type: 'carousel',   
                breakpoints: {
                    1023: { perView: 1, controls: false }
                },             
            }).mount()
        }
        
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
                }
            });
        }
        
        let options = {
            rootMargin: '0px',
            threshold: .25
        }

        let observer = new IntersectionObserver((entries, observer)=>{
            entries.forEach(entry => {
                if(entry.isIntersecting) {
                    entry.target.classList.remove('translate-y-16')
                }
            })
        }, options);
        
        let targets = document.querySelectorAll('.service')
        targets.forEach( target => observer.observe(target))
        
        
        
    </script>
</body>

</html>
