<div class="text-gray-700 bg-indigo-100 bg-opacity-25">
    <div class="container py-16 mx-auto">
        {% render 'partials/section-header'
        title: faqs.title,
        excerpt: faqs.excerpt %}
        <div class="flex flex-wrap mt-12">
            <div class="px-4 md:w-1/2">
                {% for faq in faqs.items %}
                <div class="mb-3 rounded"
                    x-data="{ isOpen: false, $this: 'ans'+{{ forloop.index }} }"
                    x-bind:class="isOpen ? 'bg-blue-400 text-white' : 'bg-white'">
                    <h4 class="p-4 cursor-pointer" x-on:click=" isOpen = !isOpen ">
                        <i class="mr-2 text-xl fa" 
                        x-bind:class=" isOpen ? 'fa-minus-circle' : 'fa-plus-circle' "></i>{{ faq.que }}
                    </h4>
                    <div class="overflow-hidden transition-all duration-500 max-h-0" 
                    :x-ref="$this"
                    x-bind:style="`max-height: ${isOpen ?  $refs[$this].scrollHeight : '0'}px;`">
                        <p class="p-4"
                        x-bind:class="isOpen ? 'text-white' : 'text-gray-800'"
                        >{{ faq.ans }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="hidden px-4 md:block md:w-1/2">
                <div class="ml-32 w-80">
                    <img src="{{ faqs.image | default: 'assets/img/fag-img.png' | url }}" class="w-full" alt="faq">
                </div>
            </div>
        </div>
    </div>
</div>
